.add-wallet-ios {
    height: 3em;
 }
.add-wallet-android-mobile {
    height: 3em;
    margin-right: 10px;
}
.add-wallet-android-desktop {
    height: 3em;
    margin-right: 10px;
}
#apple, #google {
   text-decoration: none;
}

